#navigation {
      position: -webkit-sticky;
      position: sticky;
      top: 15px;
      float: left;
      width: 19%;
      background: #eee;
      padding: 0 15px;
      border: 2px solid #b0b0b0;
      margin-top: 10px;
  }
  
#navigation h3 { 
    text-align: center;
    font-weight: normal; 
    color: #323232;
}

#navigation ul {
    margin-left: -40px;
    list-style: none;
}

#navigation ul > li > ul {
    opacity: 0;
    position: relative;
    top: 0px;
    max-height: 0px;
    visibility: hidden;
    z-index: 1;
}


#navigation > ul > li > a  {
    font-weight:bold;
}

#navigation li {
    border: 1px solid #b0b0b0;
}

#navigation li:hover {
    cursor: pointer;
}

#navigation li a {
    background-color:#d4d5d8;
    color:#000;
    display:block; 
    font-size:15px;
    line-height:30px;
    outline:0;
    padding-left:10px;
}

#navigation li a:hover {
    background-color:#bcbdc1;
}
 
#navigation li a:active { 
    background-color:#a0a0a0; 
}  

#navigation ul > li > ul > li a {
    background-color:#eee;
    color:#000;
    font-size: 13px;
}